<!DOCTYPE html>
<html lang="en">
  <head>
    {% if app_vars|length > 0 %}
      <title>PyTimber - {{ app_vars|upper }}</title>
    {% else %}
      <title>PyTimber - Index</title>
    {% endif %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "simple.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap.min.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "fontawesome/fontawesome-all.min.css" %}"/>
    <script type="text/javascript" src="{% static "jquery-3.3.1.min.js" %}"></script>
    {% block additional_header %}
    {% endblock %}
  </head>
  <body>
    {% block content %}
    {% endblock %}
    <div class="container-fluid">
      <div id="footer">footer</div> <!--end footer-->
    </div>
    <!-- Piwik -->
    <script type="text/javascript">
    var pkBaseURL = (("https:" == document.location.protocol) ? "https://piwik.web.cern.ch/" : "http://piwik.web.cern.ch/");
    document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
    </script><script type="text/javascript">
    try {
    var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 4612);
    piwikTracker.trackPageView();
    piwikTracker.enableLinkTracking();
    } catch( err ) {}
    </script><noscript><p><img src="http://piwik.web.cern.ch/piwik.php?idsite=4612" style="border:0" alt="" /></p></noscript>
    <!-- End Piwik Tracking Code -->
  </body>
</html>
