
{% extends 'epdtdi_timber/base.html' %}
{% block additional_header %}
  {% load static %}
  {% with request.resolver_match.view_name as view_name %}
    {% if view_name == "plot_index" or view_name == "trPlot" %}
      <link rel="stylesheet" type="text/css" href="{% static "tempusdominus-bootstrap-4.min.css" %}"/>
      <link rel="stylesheet" type="text/css" href="{% static "chosen.min.css" %}"/>
      <script type="text/javascript" src="{% static "moment.min.js" %}"></script>
      <script type="text/javascript" src="{% static "chosen.jquery.min.js" %}"></script>
      <script type="text/javascript" src="{% static "tempusdominus-bootstrap-4.min.js" %}"></script>
      <script type="text/javascript" src="{% static "js.cookie.js" %}"></script>
      <script type="text/javascript" src="{% static "chart.min.js" %}"></script>
      <script type="text/javascript" src="{% static "canvasjs.min.js" %}"></script>
    {% elif view_name == "dip" %}
      <link rel="stylesheet" type="text/css" href="{% static "datatables.min.css" %}"/>
      <script type="text/javascript" src="{% static "datatables.min.js" %}"></script>
      <script type="text/javascript" src="{% static "bootstrap.min.js" %}"></script>
    {% endif %}
  {% endwith %}
{% endblock %}

{% block content %}
<div id="main">
  <h2>Pytimber - {{ app_vars|upper }}</h2>
  <p> Intro </p>
  <div id="code">
    <div class="container-fluid">
      {% with request.resolver_match.view_name as view_name %}
        <div class="row">
          <ul class="nav nav-tabs" style="list-style-type: none;">
            <li class="nav-item">
              {% if view_name == "plot_index" or view_name == "trPlot" %}
                <a class="nav-link active" href="#">Variable Plotting</a>
              {% else %}
                <a class="nav-link" href="/app/{{ app_vars }}">Variable Plotting</a>
              {% endif %}
            </li>
            <li class="nav-item">
              {% if view_name == "dip" %}
                <a class="nav-link active" href="#">DIP/DIM Live Values</a>
              {% else %}
                <a class="nav-link" href="/app/{{ app_vars }}/dip">DIP/DIM Live Values</a>
              {% endif %}
            </li>
          </ul>
        </div>
        {% if view_name == "plot_index" or view_name == "trPlot" %}
          <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
              <form id="plot-form" class="form-horizontal" method="post" action="/app/{{ app_vars }}/trPlot">
                {% csrf_token %}
                <div class="form-group row">
                  <label class="control-label col-sm-2 requiredField" for="vars">
                 Variables
                 <span class="asteriskField">*</span>
               </label>
                  <div class="col-sm-10">
                    <select name="vars" data-placeholder="Choose multiple..." class="chosen-select" multiple tabindex="4" required>
                   {% load utils %}
                   {% for group in varList %}
                     <optgroup label={{group}}>
                     {% for varTuple in varList|lookup:group %}
                       {% with varname=varTuple.0 %}
                        {{ varTuple.0 }}
                         {% if varname in selectedVars %}
                           <option value={{varname}} selected>{{varname}}</option>
                         {% else %}
                           <option value={{varname}}>{{varname}}</option>
                         {% endif %}
                        {% endwith %}
                     {% endfor %}
                     </optgroup>
                   {% endfor %}
                 </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="control-label col-sm-2 requiredField" for="fromDatepicker">
               From
               <span class="asteriskField">
                *
               </span>
              </label>
                  <div class="input-group date col-sm-8" id="fromDatepicker" name="fromDatepicker" data-target-input="nearest">
                    <input type="text" id="fromDTP" name="fromDTP" class="form-control datetimepicker-input" placeholder="YYYY/MM/DD HH:MM" data-toggle="datetimepicker" data-target="#fromDatepicker"/>
                    <div class="input-group-append" data-target="#fromDatepicker" data-toggle="datetimepicker">
                      <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="control-label col-sm-2 requiredField" for="toDatepicker">
               To
               <span class="asteriskField">
                *
               </span>
              </label>
                  <div class="input-group date col-sm-8" id="toDatepicker" name="toDatepicker" data-target-input="nearest">
                    <input type="text" id="toDTP" name="toDTP" class="form-control datetimepicker-input" placeholder="YYYY/MM/DD HH:MM" data-toggle="datetimepicker" data-target="#toDatepicker"/>
                    <div class="input-group-append" data-target="#toDatepicker" data-toggle="datetimepicker">
                      <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-8 offset-sm-2">
                    <button id="submit-btn" class="btn btn-outline-primary" name="submit-plot">
                    Submit <i id="spinner"></i>
                    </button>
                    <button id="submit-csv-btn" class="btn btn-outline-primary" name="submit-csv">
                    Download CSV <i id="spinner2"></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div id="time-container" class="col-sm-10">
                <div id="download-msg" class="alert alert-light alert-dismissable" role="alert" style="display:none;">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="circle-loader">
                        <div class="checkmark draw"></div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <p id="download-time"></p>
                    </div>
                    <div class="col-md-2">
                      <button id="download-msg-close" type="button" class="close" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div id="logo-div" class="col-sm-10">
                {% with logo_path=app_vars|split_trunc:"_"|add:"_logo.png" %}
                  <img id="experiment-logo" src="{% static logo_path %}" alt="{{ app_vars|capfirst|split_trunc:"_" }} Experiment Logo">
                {% endwith %}
              </div>
            </div>
          </div>
          <script type="text/javascript">
            $(".chosen-select").chosen({width: "80%", no_results_text: "No configured variable found for: "});
            $(function() {
              $('#fromDatepicker').datetimepicker({
                useCurrent: false,
                maxDate: new Date(),
                icons: {
                  time: "far fa-clock",
                  date: "far fa-calendar",
                },
                defaultDate: "{{fromDTPValue}}"
              });
              $('#toDatepicker').datetimepicker({
                useCurrent: false,
                maxDate: new Date(),
                icons: {
                  time: "far fa-clock",
                  date: "far fa-calendar",
                },
                defaultDate: "{{toDTPValue}}"
              });
              $("#fromDatepicker").on("change.datetimepicker", function(e) {
                $('#toDatepicker').datetimepicker('minDate', e.date);
              });
              $("#toDatepicker").on("change.datetimepicker", function(e) {
                $('#fromDatepicker').datetimepicker('maxDate', e.date);
              });
            });
            $("#submit-btn").click(function() {
              if (!checkForm()) return false;
              $("#plot-form").attr("action", "/app/{{ app_vars }}/trPlot");
              $("#plot-form")[0].submit();
              $("#spinner").addClass("fas fa-cog fa-spin");
              $("#submit-btn").prop("disabled", true);
              $("#submit-csv-btn").prop("disabled", true);
              return true;
            });
            $("#submit-csv-btn").click(function() {
              if (!checkForm()) return false;
              $("#plot-form").attr("action", "/app/{{ app_vars }}/trFile");
              $("#plot-form")[0].submit();
              $("#download-msg").slideUp();
              $('.circle-loader').removeClass('load-complete');
              $('.checkmark').hide();
              checkDownloaded();
              $("#download-time").text("Loading...");
              $("#download-msg").slideDown();
              $("#spinner2").addClass("fas fa-cog fa-spin");
              $("#submit-csv-btn").prop("disabled", true);
              $("#submit-btn").prop("disabled", true);
              return true;
            });
            function checkDownloaded(){
              var checking = setInterval(function(){
                var checkcookie = Cookies.get("fileDownloaded");
                if (checkcookie != null) {
                  $("#submit-csv-btn").prop("disabled", false);
                  $("#submit-btn").prop("disabled", false);
                  $("#spinner2").removeClass("fas fa-cog fa-spin");
                  $('.circle-loader').addClass('load-complete');
                  $('.checkmark').show();
                  var time = "Took " + (checkcookie * 1000).toFixed(2) + "ms (" +
                  parseFloat(checkcookie).toFixed(2) + "s) to retrieve data from database.";
                  $("#download-time").text(time);
                  clearInterval(checking);
                  Cookies.remove("fileDownloaded");
                } else if (Cookies.get("fileFailed")) {
                  $("#download-msg").slideUp();
                  $('.checkmark').hide();
                  Cookies.remove("fileFailed");
                }
              }, 500);
            };
            function checkForm(){
              var vars = $(".chosen-select").val();
              if (vars.length < 1) {
                $(".chosen-container").addClass("failed-input");
                return false;
              }
              $(".chosen-container").removeClass("failed-input");
              return true;
            }
            $("#download-msg-close").click(function() {
              $("#download-msg").slideUp();
            });
            $(document).ready(function() {
              var checkcookie = Cookies.get("dataRequestTime");
              if (checkcookie != null) {
                $('.circle-loader').addClass('load-complete');
                $('.checkmark').show();
                var time = "Took <b>" + (checkcookie * 1000).toFixed(2) + "</b>ms (<b>" +
                parseFloat(checkcookie).toFixed(2) + "</b>s) to retrieve data from database.\n";
                time += " Downloaded <b>" + totalPoints + "</b> datapoints from Timber (<a href='https://be-dep-co.web.cern.ch/content/cals' style='text-decoration: none'>CALS</a>).\n";
                time += (totalPoints > 1000) ?
                  "Please consider using the high performance CanvasJS graph below, as ChartJS will struggle to render so many points." :
                  "Consider using ChartJS below for a high quality plot, or CanvasJS for axis-rescaling."
                $("#download-time").html(time);
                $("#download-msg").slideDown();
                Cookies.remove("dataRequestTime");
              }
            });
          </script>

          <img src="{% static plot_path %}" {% if plot_path == "timber-logs.jpg" %} alt="Image of timber logs" {% else %} alt="Matplotlib Rendered Plot of Timber Data" {% endif %} style="max-width: 80%">
          {% if selectedVars|length > 0 %}
            <div class="row">
              <div class="col-sm-8 offset-sm-2">
                <button id="canvasjs-btn" class="btn btn-outline-primary" name="canvasjs-btn" onclick="renderCanvasJS()">
                Render CanvasJS Chart (High Performance - Best for > 1000 Datapoints) <i id="spinner3"></i>
                </button>
                <button id="chartjs-btn" class="btn btn-outline-primary" name="chartjs-btn" onclick="renderChartJS()">
                Render ChartJS Chart (High Quality - Best for < 1000 Datapoints) <i id="spinner4"></i>
                </button>
              </div>
            </div><br/><br/>
            <div id="chartContainer" data-points="{{ data }}" data-vars="{{ dataVars }}" data-units="{{ units }}" data-types="{{ types }}" style="height: 800px; width: 100%; display: none;"></div>
            <canvas id="trPlot" width="2000" height="800" style="display: none"></canvas>
            <script type="text/javascript" src="{% static "plots.js" %}" defer></script>
          {% endif %}
        {% elif view_name == "dip" %}
          <div class="container-fluid">
            {% if dipData|length > 0 %}
              <div style="margin-top: 3%;" class="row">
                <h5 style="margin-right: 1%;">Update DIP values every: </h5>
                <div class="form-row" style="height: 40px;">
                  <select id="dipValueUpdates">
                    <option selected>Update values every...</option>
                    <option value="1">1 second</option>
                    <option value="2">2 seconds</option>
                    <option value="3">3 seconds</option>
                    <option value="5">5 seconds</option>
                    <option value="10">10 seconds</option>
                    <option value="30">30 seconds</option>
                  </select>
                </div>
                <div id="countdown">
                  <svg id="svg-dip">
                    <circle r="18" cx="20" cy="20"></circle>
                  </svg>
                </div>
              </div>
            {% endif %}
            <div class="row" style="margin-top: 1%;">
              <div class="col-12">
                <ul class="nav nav-tabs" role="tablist" style="margin-bottom: 1%;">
                  <li class="nav-item">
                    <a class="nav-link active" href="#tab-table0" data-toggle="tab">All</a>
                  </li>
                  {% if dipGroups|length > 0 %}
                    {% for group in dipGroups %}
                      <li class="nav-item">
                        <a class="nav-link" href="#tab-table{{ forloop.counter }}" data-toggle="tab">{{ group }}</a>
                      </li>
                    {% endfor %}
                  {% endif %}
                </ul>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-lg-6">
                {% if dipData|length > 0 %}
                  <div class="tab-content">
                    <div class="tab-pane active" id="tab-table0">
                      <table class="table table-striped" id="dip-table0" style="width: 100%;">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Variable Name</th>
                            <th scope="col">Current Value</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for sub in dipData %}
                            <tr>
                              <th scope="row">{{ forloop.counter }}</th>
                              <td id="{{sub}}_0" name="{{sub}}">{{ sub }}</td>
                              <td id="{{sub}}_val_0" name="{{sub}}_val"><b>{{ dipData|fetch_value:sub }}</b> {{ dipData|fetch_unit:sub }}</td>
                            </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                    {% if dipGroups|length > 0 %}
                      {% for group in dipGroups %}
                        <div class="tab-pane" id="tab-table{{ forloop.counter}}">
                          <table class="table table-striped" id="dip-table{{ forloop.counter}}" style="width: 100%;">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Variable Name</th>
                                <th scope="col">Current Value</th>
                              </tr>
                            </thead>
                            <tbody>
                              {% with forloop.counter as current_group %}
                                {% for sub in dipData %}
                                  {% if dipData|fetch_group:sub == group %}
                                    <tr>
                                      <th scope="row">{{ forloop.counter }}</th>
                                      <td id="{{sub}}_{{ current_group }}" name="{{sub}}">{{ sub }}</td>
                                      <td id="{{sub}}_val_{{ current_group }}" name="{{sub}}_val"><b>{{ dipData|fetch_value:sub }}</b> {{ dipData|fetch_unit:sub }}</td>
                                    </tr>
                                  {% endif %}
                                {% endfor %}
                              {% endwith %}
                            </tbody>
                          </table>
                        </div>
                      {% endfor %}
                    {% endif %}
                  </div>
                  <script type="text/javascript" async>
                    var successUpdatePeriod = 5000;
                    var failureUpdatePeriod = 10000;
                    $('#svg-dip circle').css({'animation-duration': successUpdatePeriod/1000 + 's'});
                    function updateDipValues() {
                      $.ajax({
                        type:"get",
                        url:"/app/{{app_vars}}/dip/vals",
                        datatype:"json",
                        success:function(data) {
                          var services = Object.keys(data);
                          for (var i = 0; i < services.length; i++) {
                            color = 'black';
                            if (data[services[i]].format == "boolean") {
                              if (data[services[i]].lower_limit) {
                                color = (data[services[i]].value) ? 'darkred' : 'darkgreen';
                              } else {
                                color = (data[services[i]].value) ? 'darkgreen' : 'darkred';
                              }
                              filler = '<svg id=' +  services[i] + ' name="svg-bool" style="height: 20px; width: 20px;">\
                              <circle r="9" cx="10" cy="10" style="fill: ' + color + '; stroke: ' + color +';">⁠<title>' + data[services[i]].value + '</title></circle></svg>';
                            } else {
                              if (data[services[i]].format == "float") {
                                sigFig = data[services[i]].sig_fig;
                                if (data[services[i]].flo_display == "dp") {
                                  // round to set number of decimal points
                                  filler = data[services[i]].value.toFixed(sigFig);
                                } else {
                                  // round to set number of significant figures
                                  filler = data[services[i]].value.toPrecision(sigFig);
                                }
                              } else {
                                filler = data[services[i]].value;
                              }
                              if (data[services[i]].lower_limit != "") {
                                color = (data[services[i]].value < data[services[i]].lower_limit) ? 'darkred' : 'darkgreen';
                              }
                              if (data[services[i]].upper_limit != "" && color != 'darkred') {
                                color = (data[services[i]].value > data[services[i]].upper_limit) ? 'darkred' : 'darkgreen';
                              }
                            }
                            message = "<span style='color: " + color + "'><b>" + filler;
                            message += "</b> " + data[services[i]].unit + "</span>";
                            $('#' + services[i] + '_val_0').html(message);
                            {% if dipGroups|length > 0 %}
                              {% for group in dipGroups %}
                                $('#' + services[i] + '_val_{{ forloop.counter }}').html(message);
                              {% endfor %}
                            {% endif %}
                          }
                          $('#svg-dip circle').css({'stroke': 'darkgreen'});
                          $('#svg-dip circle').css({'animation-duration': successUpdatePeriod/1000 + 's'});
                          $('#svg-dip circle').css({'animation-name': 'countdown'});
                          setTimeout(function() {
                            $('#svg-dip circle').css({'animation-name': 'none'});
                            updateDipValues();
                          }, successUpdatePeriod);
                        },
                        error:function() {
                          console.error("Error! Connection to DIP values lost, retrying connection in " + failureUpdatePeriod/1000 + "s.");
                          $('#svg-dip circle').css({'stroke': 'darkred'});
                          $('#svg-dip circle').css({'animation-duration': failureUpdatePeriod/1000 + 's'});
                          $('#svg-dip circle').css({'animation-name': 'countdown'});
                          setTimeout(function() {
                            $('#svg-dip circle').css({'animation-name': 'none'});
                            updateDipValues();
                            failureUpdatePeriod = (failureUpdatePeriod < 30000) ? failureUpdatePeriod + 5000 : failureUpdatePeriod;
                          }, failureUpdatePeriod);
                        }
                      });
                    };
                    $(document).ready(function() {
                      $(document).on('shown.bs.tab', 'a[data-toggle="tab"]', function (e) {
                          $.fn.dataTable.tables({ visible: true, api: true }).columns.adjust();
                      });
                      $('table.table').DataTable( {
                          paging:         false,
                          responsive:     true
                      } );
                      // var table0 = $('#dip-table0').DataTable({
                      //   "paging": false
                      // });
                      // $('#dip-table0 tbody').on( 'mouseenter', 'td', function () {
                      //   var colIdx = table0.cell(this).index().column;
                      //   var rowIdx = table0.cell(this).index().row;
                      //   $( table0.cells().nodes() ).removeClass( 'highlight' );
                      //   $( table0.column( colIdx ).nodes() ).addClass( 'highlight' );
                      //   $( table0.row( rowIdx ).nodes() ).addClass( 'highlight' );
                      // });
                      $('#dipValueUpdates option[value=' + successUpdatePeriod/1000 + ']').attr('selected','selected');
                      $('#dipValueUpdates').change(function() {
                        successUpdatePeriod = this.value * 1000;
                      });
                      updateDipValues();
                    });
                  </script>
                {% else %}
                  <h5>No DipData could be retrieved. It's most likely that this application does not have DIP/DIM variables configured. Please try <a href="/app" style="text-decoration: none">another</a>!</h5>
                {% endif %}
              </div>
              <div class="col-11 col-lg-6 offset-lg-0">
                <img style="margin-top: 10%; max-width: 100%;" src="{% static plot_path %}" alt="Image of timber logs" style="max-width: 80%">
              </div>
            </div>
          </div>
        {% endif %}
      {% endwith %}
    </div>
  </div>
</div>
<!--end main-->

{% endblock %}
