/* simple.css stylesheet */

h1, h2, h3, h4 { font-family: "DejaVu Sans", Helvetica, FreeSans, Geneva, Arial, sans-serif;
}

h2 { font-color: #999;
}

#main {
  /*old width:68%; */
  border-top: 10px solid #800080;
  color:#000;
  background:#fff;
  padding:20px;
  margin:.2em 2em;
}

#footer {
  clear:both;
  font-family: "Droid Sans", Helvetica, Arial, sans-serif;
  font-size:80%;
  color:#fff;
  background:#800080;
  margin:.2em 2em;
  padding:.3em;
}

.asteriskField {
  color: red;
}

.circle-loader {
  margin-bottom: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-left-color: #5cb85c;
  animation: loader-spin 1.2s infinite linear;
  position: relative;
  display: inline-block;
  vertical-align: top;
  border-radius: 50%;
  width: 7em;
  height: 7em;
}

.load-complete {
  -webkit-animation: none;
  animation: none;
  border-color: #5cb85c;
  transition: border 500ms ease-out;
}

.checkmark {
  display: none;
}
.checkmark.draw:after {
  animation-duration: 800ms;
  animation-timing-function: ease;
  animation-name: checkmark;
  transform: scaleX(-1) rotate(135deg);
}
.checkmark:after {
  opacity: 1;
  height: 3.5em;
  width: 1.75em;
  transform-origin: left top;
  border-right: 3px solid #5cb85c;
  border-top: 3px solid #5cb85c;
  content: "";
  left: 1.75em;
  top: 3.5em;
  position: absolute;
}

@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  20% {
    height: 0;
    width: 1.75em;
    opacity: 1;
  }
  40% {
    height: 3.5em;
    width: 1.75em;
    opacity: 1;
  }
  100% {
    height: 3.5em;
    width: 1.75em;
    opacity: 1;
  }
}

.failed-input {
  border: 1px solid red;
}

.bootstrap-datetimepicker-widget .picker-switch, .bootstrap-datetimepicker-widget ul li {
  list-style: none;
  margin-left: 0;
}

.bootstrap-datetimepicker-widget .far {
  color: #007bff;
}

#time-container {
  margin: 5% 0;
}

#plot-form {
  margin-top: 4%;
}

#logo-div {
  text-align: center;
  height: 240px;
}

.logo-div {
  text-align: center;
  height: 340px;
  margin: 20px 0;
}

#experiment-logo {
  max-width: 460px;
  max-height: 200px;
}

.experiment-logo {
  max-width: 560px;
  max-height: 260px;
  top: 0;
  bottom: 0;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.exp-logo-header {
  bottom: 0;
  position: absolute;
  width: 100%;
}

#canvasjs-btn {
  margin-right: 30px;
}

#countdown {
  margin-left: 1%;
}

#dip-countdown {
  position: relative;
  margin: auto;
  margin-top: 100px;
  height: 40px;
  width: 40px;
  text-align: center;
}

#svg-dip {
  width: 40px;
  height: 40px;
  margin-left: 1%;
  transform: rotateY(-180deg) rotateZ(-90deg);
}

#svg-dip circle {
  stroke-dasharray: 113px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 2px;
  stroke: darkgreen;
  fill: none;
  animation-name: countdown;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: normal;
}

@keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 113px;
  }
}

td.highlight {
    background-color: whitesmoke !important;
}
